In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:75% !important; }</style>"))

In [19]:
import sys
import numpy as np
import pandas as pd

sys.path.append('/lfs/1/sahaana/enrichment/ember/utils')
from supervision_utils import random_matches_to_triplets


%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [12]:
path = "/lfs/1/sahaana/enrichment/data/imdb_wiki"
bm25_path = "/lfs/1/sahaana/enrichment/data/Okapi25Queries"

# Load Supervision and BM25

In [20]:
fname = "supervision_train.pkl"
train_supervision = pd.read_pickle(f"{path}/{fname}")

In [21]:
train_supervision

         IMDB_ID        QID
41098  tt2825120  Q14639047
28950  tt0403455   Q2120775
29297  tt0418460   Q3413700
30720  tt0477139   Q2002073
24124  tt0189630   Q3191800
...          ...        ...
23176  tt0154420    Q841958
47758  tt9358106  Q64768058
46228  tt6284256  Q77733171
32823  tt0997274   Q1037699
23808  tt0175996    Q590308

[38250 rows x 2 columns]

In [17]:
fname = "wiki_train.pkl"
corpus = pd.read_pickle(f"{path}/{fname}", )

In [18]:
corpus

,title,wikisummary
QID,,
Q14639047,Crows Explode,"Crows Explode ( EXPLODE, Kurzu Explode) is a 2..."
Q2120775,Roll Bounce,Roll Bounce is a 2005 American comedy-drama fi...
Q3413700,Aitraaz,Aitraaz (English: Objection) is a 2004 Indian ...
Q2002073,Wristcutters: A Love Story,Wristcutters: A Love Story is a 2006 American ...
Q3191800,Kadosh,Kadosh (Hebrew: ) (lit. Sacred) is a 1999 fil...
...,...,...
Q841958,Festen,Festen (also known as The Celebration) is a 19...
Q64768058,Dolce Fine Giornata,Dolce Fine Giornata (Polish: Sodki koniec dnia...
Q77733171,Knuckleball (2018 film),Knuckleball is a 2018 Canadian thriller film w...
Q1037699,Clannad (film),"Clannad (Japanese: , Hepburn: Kuranado) is a 2..."
Q590308,The Other Conquest,The Other Conquest (Spanish: La Otra Conquista...

In [23]:
num_negatives = 3
col_names = ['IMDB_ID_a', 'QID_p', 'QID_n']
random_matches_to_triplets(train_supervision, corpus, num_negatives, col_names)

TypeError: random_matches_to_triplets() takes 2 positional arguments but 3 were given

'Q18151045'